@charset "UTF-8";




/*left nav start*/
.tmall-head {width: 100%;height: 30px;background:#f2f2f2;border:1px solid #e5e5e5;}
.h-nav{width:1230px;height:30px;margin:0 auto;font:12px "Microsoft YaHei";color:#999;}
.h-nav .l-nav{width: 200px;height: 30px;line-height:30px;}
.h-nav .l-nav p{display: inline-block;width:400px;line-height:30px;}
.h-nav .l-nav p em{font-style:normal;}
.h-nav .l-nav p a{display: inline-block;height:30px;margin-left:20px;line-height: 32px;}
.h-nav .l-nav p a:hover{color:#FF0036;}
/*left nav end*/
/*right nav start*/
.icon-bg{color: #FF0036;font-size:12px !important;}
.h-nav .r-nav  li{display: inline-block;height: 30px;padding: 0 15px;line-height:30px;}
.h-nav .r-nav  li > a:hover{color:#FF0036;text-decoration: underline;cursor:pointer!important;}
.h-nav .r-nav .menu-list{position: relative;border:1px solid transparent;}
.h-nav .r-nav .menu-list:hover{background: #fff;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.h-nav .r-nav .menu-list:before{content:'';float:right;width:0;height:0;margin:13px 0 0 3px;border:3px solid transparent;
    border-top-color:#BBB;border-bottom: none;}
.h-nav .r-nav .menu-list:hover:before{transform: rotate(180deg);transition:.3s;}

/*my product*/
.h-nav .r-nav .menu-list .menu-product a{display:inline-block;width: 72px;height: 30px;line-height: 30px;}
.h-nav .r-nav .menu-list .menu-product a:hover{color:#FF0036;text-decoration: underline;}
.h-nav .r-nav .menu-list .menu-product{display:none;position: absolute;top:31px;left: -1px;
    height: 60px;padding: 10px;border:1px solid #e5e5e5;border-top: none;background:#fff;z-index:10;}
.h-nav .r-nav .menu-list:hover .menu-product{display: block;}
/*my product*/
/*my collection*/
.h-nav .r-nav .menu-list .menu-collection{display:none;position: absolute;top:31px;left: -1px;
    height: 60px;padding: 10px;background:#fff;border:1px solid #e5e5e5;border-top: none;z-index:10}
.h-nav .r-nav .menu-list:hover .menu-collection{display: block;}
.h-nav .r-nav .menu-list .menu-collection a{display:inline-block;width: 72px;height: 30px;line-height: 30px;}
.h-nav .r-nav .menu-list .menu-collection a:hover{color:#FF0036;text-decoration: underline;}
.h-nav .r-nav .menu-block{display: inline-block;padding: 0}
/*my collection*/
/*sellers support*/
.h-nav .r-nav .menu-list .menu-seller{display:none;position:absolute;top:30px;left:-64px;width:140px;height:165px;padding: 8px 0 8px 10px;
    border:1px solid #e5e5e5;font-size:0;line-height: 12px;border-top: none;z-index:10;}
.h-nav .r-nav .menu-list:hover .menu-seller{display: block}
.h-nav .r-nav .menu-list .menu-seller h3{font-size:16px;color:#666;line-height: 20px;font-weight:700;}
.h-nav .r-nav .menu-list .menu-seller a{display: inline-block;width:48px;height:22px;margin-right:20px;font-size: 12px;color: #666;line-height: 22px;}
.h-nav .r-nav .menu-list .menu-seller a:hover{color:#FF0036;text-decoration: underline;cursor:pointer!important; }
.h-nav .r-nav .menu-list .menu-seller .seller{height: 110px;border-bottom:1px dotted #BBB}
.h-nav .r-nav .menu-list .menu-seller .help{height: 40px;padding:5px 0;border-bottom:1px dotted #BBB}
/*sellers support*/
/*web nav*/
.h-nav .r-nav .menu-list .menu-nav{display: none;position:absolute;top:30px;left: -1122px;width:1220px;height: 250px;
    border: 1px solid #e5e5e5;border-top:none;background: #fff;z-index:10;}
.h-nav .r-nav .menu-list:hover .menu-nav{display: block;}
.h-nav .r-nav .menu-list .menu-nav > ul>li{float: left;padding:30px;}
.h-nav .r-nav .menu-list .menu-nav > ul>li + li{border-left: 1px solid #e5e5e5;}
.h-nav .r-nav .menu-list .menu-nav .hot{width: 249px;height: 190px;}
.h-nav .r-nav .menu-list .menu-nav  .hot h2{color:#f56a00;font-weight: 100;}
.h-nav .r-nav .menu-list .menu-nav  .hot h2 span{color:#f56a00;font-weight: 600;}
.h-nav .r-nav .menu-list .menu-nav .hot ul>li{display: inline-block;width: 100%;height:16px;padding:6px 0;line-height: 16px;}
.h-nav .r-nav .menu-list .menu-nav .hot ul>li a{display: inline-block;width:95px;height:16px;font-size:12px;}
.h-nav .r-nav .menu-list .menu-nav .hot ul>li a:nth-child(3){width:59px}
.h-nav .r-nav .menu-list .menu-nav .hot ul>li a:hover{color:#f56a00;}
.h-nav .r-nav .menu-list .menu-nav .market{width: 369px;height: 190px;}
.h-nav .r-nav .menu-list .menu-nav  .market h2{color:#2263d4;font-weight: 100;}
.h-nav .r-nav .menu-list .menu-nav  .market h2 span{color:#2263d4;font-weight: 600;}
.h-nav .r-nav .menu-list .menu-nav .market ul>li{display: inline-block;width: 100%;height:16px;padding:6px 0;line-height: 16px;}
.h-nav .r-nav .menu-list .menu-nav .market ul>li a{display: inline-block;width:95px;height:16px;font-size:12px;}
.h-nav .r-nav .menu-list .menu-nav .market ul>li a:nth-child(4){width:84px}
.h-nav .r-nav .menu-list .menu-nav .market ul>li a:hover{color:#2263d4;}
.h-nav .r-nav .menu-list .menu-nav .brand{width: 239px;height:190px;}
.h-nav .r-nav .menu-list .menu-nav  .brand h2{color:#000;font-weight: 100;}
.h-nav .r-nav .menu-list .menu-nav  .brand h2 span{color:#000;font-weight: 600;}
.h-nav .r-nav .menu-list .menu-nav .brand ul>li{display: inline-block;width: 100%;height:16px;padding:6px 0;line-height: 16px;}
.h-nav .r-nav .menu-list .menu-nav .brand ul>li a{display: inline-block;width:95px;height:16px;font-size:12px;}
.h-nav .r-nav .menu-list .menu-nav .brand ul>li a:nth-child(3){width:49px}
.h-nav .r-nav .menu-list .menu-nav .brand ul>li a:hover{color:#000;}
.h-nav .r-nav .menu-list .menu-nav .serve{width: 120px;height:190px;}
.h-nav .r-nav .menu-list .menu-nav  .serve h2{color:#666;font-weight: 100;}
.h-nav .r-nav .menu-list .menu-nav  .serve h2 span{color:#666;font-weight: 600;}
.h-nav .r-nav .menu-list .menu-nav .serve ul>li{display: inline-block;width: 100%;height:16px;padding:6px 0;line-height: 16px;}
.h-nav .r-nav .menu-list .menu-nav .serve ul>li a{display: inline-block;width:95px;height:16px;font-size:12px;}
.h-nav .r-nav .menu-list .menu-nav .serve ul>li a:hover{color:#666;}
/*web nev*/
/*right nav end*/

/*content start*/

/*search start*/
.content .tmall-search{position: relative;width: 1230px;height: 70px;padding:30px 0;margin:0 auto;}
.content .tmall-search .search{width: 624px;height: 70px;margin:0 auto;}
.content .tmall-search .search .search-box{display:inline-block;width: 624px;height: 42px;font-size:0;}
.content .tmall-search .search .search-box > input[type="text"]{display: inline-block;width: 480px;height: 22px;
    padding:9px 5px;border:1px solid #FF0036;outline: none;font-size:16px;line-height: 22px;color: #000;}
.content .tmall-search .search .search-box > input[type="text"]::-webkit-input-placeholder{ font-weight: 300;font-size: 14px;color:#ccc;}
.content .tmall-search .search .search-box > input[type="button"]{display: inline-block;width:130px;height: 42px;
    border:1px solid #FF0036;background: #FF0036;color:#fff;font-size:20px;line-height: 37px;vertical-align: top;}
.content .tmall-search .search .search-keywords{display:inline-block;width: 620px;height: 30px;font-size:16px;}
.content .tmall-search .search .search-keywords > a{display: inline-block;padding:0 12px;font-size:12px;
    color: #999999;line-height: 1.1;text-align: center;}
.content .tmall-search .search .search-keywords > a:nth-child(1){padding-left:0;text-align: left;}
.content .tmall-search .search .search-keywords > a + a{border-left: 1px solid #e5e5e5}
.content .tmall-search .search .search-keywords .col-a-bg{color: #FF0036}

/* logo*/
.content .tmall-search .logo{position: absolute;top:0;left: 0;width: 200px;height: 130px;}
.content .tmall-search .logo img{width: 100%;height: 100%;}
/* logo*/

/*search start*/
/*category start*/



/*category end*/

/*content end*/